/* RESPONSIVE WEB DESIGN POWERED BY SHAWOE */
/* ALL NO PADDING, BORDER AND MARGIN */
* {
  padding: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin: 0 auto;
  }

/* HTML5 LABLE DISPLAY BLOCK */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  }

/* THREE-COLUMN */
/* LABLE SPECIFICITY */

body {
  margin: 0 auto;
  font-size: 1em;
  text-align: justify;
  text-justify: inter-ideograph;
  background: #aaa;
  }

h1, h2, h3{
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 900;
  }
  
h1 {
  font-size: 4em;
  color: #fff;
}

a {
  text-decoration: none;
  }
  
ol {
  padding-left: 10%;
}

ul li {
  list-style-type: none;
  }
  
nav ul {
  width: 100%;
  float: left;
  background-color: #111;
  }

nav ul li {
  position: relative;
  width: 15%;
  border-style: solid;
  border-width: 1px;
  float: left;
  }
  
nav ul li a { 
  color: #fff;
  }
  
nav ul li ul {
  width: 100%;
  position: absolute;   
  display: none;
  }
  
nav ul li ul li {
  width: 100%;
  }
  
nav ul li:hover ul {  
  display: block;
  }
  
article {
  padding: 3%;
  width: 100%;
  float: left;
  display: inline;
  }
  
article section {
  text-align: justify;
  text-justify: inter-ideograph;
  }
  
article footer {
  text-align: right;
  }
  
article address {
  width: 94%;
  }
  
article address ul li {
  display: inline;
  padding-right: 2%;
  }

/* CLASS SPECIFICITY */
.wrapper {
  background-color: #ddd;
  margin: 0 auto;
  width: 100%;
  }
  
.wrapper:before,
.wrapper:after {
  display: table;
  line-height: 0;
  content: "";
}

.wrapper:after {
  clear: both;
}

.header, 
.footer {
  border-radius: 0;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  float: left;
  }

.content {
  float: left;
  width: 65%;
  }

.header, .footer {
  background-color: #111;
  }
  
.first {
  background-color: #ffa;
  }

.second {
  background-color: #aaf;
  }
  
.resume, .blog, .favorite, .manual {
  padding: 3%;
  width: 25%;
  float: right;
  display: inline;
  }
  
.title {
  background-color: #afa;
  }
  
.resume {
  background-color: #faa;
  }  
  
.blog {
  background-color: #bb5;
  }  
  
.favorite {
  background-color: #5bb;
  }  
  
.manual {
  background-color: #b5b;
  }

.illustration {
  width: 100%;	
  }
  
#step img {
  margin-left: -5%;
  }

/* TWO-COLUMN */
@media screen and (max-width:768px) {
	ol {
	  padding-left: 8%;
	  }
	.wrapper {
	  width: 100%;
	  }
	.content {
	  width: 94%;
	  }
	.sidebar {
	  background-color: #678;
	  width: 46%;
	  float: left;
	  display: inline;
	  }
	.resume, .blog, .favorite {
	  width: 90%;
	  }
	.manual {
	  width: 48%;
	  }
}

/* ONR-COLUMN */
@media screen and (max-width:480px) {
	ol {
	  padding-left: 5%;
	  }
	nav ul li {
	  width: 18%;
	  }
	.wrapper {
	  width: 100%;
	  }
	.content {
	  width: 94%;
	  }
	.sidebar {
	  background-color: #678;
	  display: inline;
	  }
	.resume, .blog, .favorite {
	  width: 100%;
	  }
	.sidebar, .manual {
	  float: right;
	  width: 94%;
	  }
}

